<footer class="border-top text-center py-3">
    <div class="container">
        <span class="sr-only snippet-border text-primary" role="status">©</span>
        <span>Buhaltut Inc. 2025</span>
    </div>
</footer>
