<!DOCTYPE html>
<html lang="ru" data-bs-theme="white">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.1, shrink-to-fit=no, maximum-scale=1.5">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/ico/bootstrap-icons/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/base.css">
        {% block css %}{% endblock %}
        <title>{{ title }}</title>
    </head>
    <body class="d-flex flex-column min-vh-100" data-websocket="{{ websocket }}">
        {% include "includes/header.njk" %}
        <main class="pt-5 flex-grow-1">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
        {% include "includes/footer.njk" %}
        <script src="/js/bootstrap.bundle.min.js" defer></script>
        <script src="/js/base.js"></script>
        {% if websocket %}
        <script src="/js/wss.js"></script>
        {% endif %}
        {% block js %}{% endblock %}
    </body>
</html>
