nav {
    background-color: #eee;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.175);
    transition: box-shadow 0.3s ease;
}

nav:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.175) !important;
}

.logo {
    height: 24px;
    width: auto;
}

.form {
    text-align: center;
    width: 30%;
    height: auto;
    margin: 0 auto;
}

.eye {
    border: none;
    background: none;
    padding: 0;
}

#eye-icon {
    color: grey;
    transition: all 0.5s ease;
}

.post-avatar {
    height: 2.5rem;
    width: 2.5rem;
}

.grey {
    color: #666;
}

input.form-control {
    height: 2.5rem;
}
