.btn-upload {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.btn-upload i {
    font-size: 1.25rem;
    margin: 0;
    line-height: 1;
}

textarea {
    width: 100%;
    overflow: hidden;
    resize: none;
}

#preview-file::-webkit-scrollbar, #preview-img::-webkit-scrollbar {
    height: 6px;
}

#preview-file::-webkit-scrollbar-thumb, #preview-img::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
}
