{% extends "base.njk" %}

{% block js %}
<script src="/js/login.js"></script>
{% endblock %}

{% block content %}
<div class="container form">
    <div class="row justify-content-center">
        <form method="post" id="form" novalidate>
            <h2>Вход</h2>
            <input
                    type="text"
                    name="login"
                    id="login"
                    class="form-control rounded-pill mb-2"
                    placeholder="Логин"
                    value="{{ formData.login }}"
                    required
            >
            <div class="position-relative">
                <input
                        type="password"
                        name="password"
                        id="password"
                        class="form-control rounded-pill mb-3 pe-5"
                        placeholder="Пароль"
                        value="{{ formData.password }}"
                        required
                >
                <button
                        type="button"
                        class="btn btn-link position-absolute top-50 end-0 translate-middle-y me-3 eye"
                        onclick="togglePassword()"
                        id="eye-button"
                >
                    <i class="bi bi-eye fs-5" id="eye-icon"></i>
                </button>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill form-control mb-2">
                Войти
            </button>
            <div class="alert alert-danger" id="error" role="alert" hidden></div>
        </form>
    </div>
</div>
{% endblock %}
